 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
</head> 
<body> -->
  <div id="container">
    <!-- <form  method="post" action="/imageupload" enctype="multipart/form-data"> -->
      <!-- <form action="/imageupload" method="post" enctype="multipart/form-data" ng-submit="validation(form1)" name="form1">
    -->
    <form method="post" action="imageupload" name="form1" enctype="multipart/form-data" ng-submit="validate(form1)" >
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput" translate="Carousel image 1">Carousel image 1</label>
            <input type="file" class="form-control" name="carouselimage" ng-model="carouselimage" multiple /><br><br>  
     <!-- <label class="col-sm-2 control-label" for="textinput" translate="Carousel image 2">Carousel image 2</label>
    <input type="file" class="form-control" name="carouselimage"><br><br>
    <label class="col-sm-2 control-label" for="textinput" translate="Carousel image 1">Carousel image 3</label>
    <input type="file" class="form-control" name="carouselimage"><br><br>
    <label class="col-sm-2 control-label" for="textinput" translate="Carousel image 1">Carousel image 4</label>
    <input type="file" class="form-control" name="carouselimage"><br><br>
    <label class="col-sm-2 control-label" for="textinput" translate="Carousel image 1">Carousel image 5</label>
    <input type="file" class="form-control" name="carouselimage"><br> -->
            <div class="form-group"> 
              <div class="col-sm-offset-2 col-sm-10">
                <div class="pull-right">
                  <!--Error is : {{error}}-->
                  <button type="submit" class="btn btn-primary" translate="Next">Next</button>
                </div>
              </div>
            </div>
          </div>
    </form>
  </div>
 <!-- </body> 
</html>
